/* VARIABLES */
$primary-font: "Alegreya Sans SC", sans-serif;
$secondary-font: "Alegreya Sans", sans-serif;
$obj-shadow: 10px 10px 5px #888888;
$section-shadow: 3px 3px 2px #888888;
$section-bg-color: #DCDCDC;