* {
  /*border: 1px dashed red;*/
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC";
  box-sizing: border-box;
  /*background-color: black;*/
}

/* BACKGROUND IMAGE */
#background-image {
  z-index: -1;
  width: 100%;
  height: 90vh;
  background-image: url('https://source.unsplash.com/5Ntkpxqt54Y');
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  position: relative;
  top: 45px;
}

/* WELCOME MESSAGE */
#welcome {
  font-size: 5em;
  text-align: center;
}

.welcome-message {
  display: none;
  margin: 50px;
}

/* NAV BAR */

.nav-menu {
  display: inline;
  float: right;
  font-size: 30px;
  /*color: white;*/
  margin: 5px 25px 5px 0px;
  text-align: center;
}



/* MEDIA QUERIES */
@media (max-width: 600px) {
  /* BACKGROUND IMAGE */
  #background-image {
    position: relative;
    top: 180px;
    height: 75vh;
  }

  /* WELCOME */
  #welcome {
    font-size: 3em;
  }


  /* NAV BAR */
  .nav-menu {
    width: 100%;
    font-size: 30px;
    margin-right: 20px;
    text-align: center;
  }
}
